.container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}
.title{
    font-size: 1.4rem;
}
.content{
    margin-top: 20px;
    text-indent: 2rem;
    color: #222;
}
.date{
    color: #999;
    font-style: italic;
    font-size: 0.8rem;
}